<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-BR">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/output.css">
	<title>Aula 7 -- Flexbox</title>
</head>
<body class="bg-gray-100">
	<div class="flex justify-center items-center space-x-4 bg-gray-300 h-36">
		<div class="w-24 h-24 p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
		<div class="w-24 h-24 p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
		<div class="w-24 h-24 p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
	</div>
	
	<br>
	
	<div class="flex justify-center items-center space-x-4 bg-gray-300 h-36">
		<div class="w-24 h-24 p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
		<div class="flex-grow flex-shrink-0 w-24 h-24 p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
		<div class="w-24 h-24 p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
	</div>
</body>
</html>