<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pt-BR">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/output.css">
	<title>Aula 4 -- Bordas</title>
</head>
<body class="bg-gray-100">
	<div class="m-5 p-4 border-l-2 border-yellow-400">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
	</div>
	
	<div class="m-5 p-4 border-2 border-yellow-400 rounded border-opacity-20">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		<br>
		<br>
		<button class="bg-blue-400 px-4 py-1 rounded text-white hover:ring-2">Save</button>
	</div>
</body>
</html>