<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head lang="pt-BR">
<meta charset="UTF-8">
<script src="https://cdn.tailwindcss.com"></script>
<title>Aula 8 -- Grid</title>
</head>
<body class="bg-gray-100">
	<div class="grid grid-cols-3 gap-4 bg-gray-300 h-36">
		<div class="col-span-2 p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
		<div class="p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
		<div class="p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
		<div class="p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
		<div class="p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
		<div class="p-4 text-white bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500"></div>
	</div>
</body>
</html>