<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head lang="pt-BR">
	<meta charset="UTF-8">
	<script src="https://cdn.tailwindcss.com"></script>
	<title>Aula 6 -- Largura e Altura</title>
</head>
<body class="bg-gray-100">
	<div class="w-screen p-4 text-white bg-blue-900 bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
	</div>
	<div class="max-x-sm p-4 text-white bg-blue-900 bg-gradient-to-bl from-yellow-400 via-red-500 to-pink-500">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
	</div>
</body>
</html>